* {
    
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0; /* Видалити всі відступи */
    overflow-x: hidden; /* Заборонити свайпання вліво або вправо */
}

body {
    margin: 0;
    flex-direction: row;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #e4e4e4;
    overflow-x: hidden; /* Заборонити свайпання вліво або вправо */
}


nav {
    background: #90c52d;
    height: 80px;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 0px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,
a:hover {
    background: #6e6e6e;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    position: fixed; /* Зафіксована позиція */
    top: 0; /* Розташування від верхнього краю */
    right: 40px; /* Розташування від правого краю */
    line-height: 80px;
    cursor: pointer;
    display: none;
    z-index: 9999; /* Завжди вище за інші елементи */
}


#check {
    display: none;
}


@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}


@media (max-width: 402px) {
    label.logo {
        font-size: 20px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}


@media (max-width: 340px) {
    label.logo {
        font-size: 15px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}


@media (max-width: 1733px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #3c502c;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;
        color: #00e623;
    }

    #check:checked~ul {
        left: 0;
    }
}

header {
    position: relative;
    width: 100%;
    background-color: #baff39;
    padding: 0px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: #6e6e6e;
}

main {
    margin-top: 0%;
    display: flex;
    padding: 20px;
}


/* aside h2 {
    color: #6e6e6e;
} */

.shah_img {
    float: left;
    padding-right: 0px;
}

input[type="text"] {
    width: 270px;
    padding: 0px;
    margin-bottom: 10px;
    border-radius: 20px;
}

button[type="submit"] {
    background-color: #6e6e6e;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10%;
}

button[type="submit"]:hover {
    background-color: #4c4c4c;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    color: #6e6e6e;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

.footer {
    margin: 0;
    color: #6e6e6e;
    text-align: center;
    padding: 0px 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@keyframes parallax {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.video {
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 20px;
    gap: 20px;
    width: auto;
}

.video iframe {
    width: 599px;
    height: 315px;
    flex: 0 0 auto;
    animation: slide 60s linear infinite; /* Анімація для автоматичного рухання */
}

@keyframes slide {
    0% {
        transform: translateX(0); /* Початкове положення */
    }
    100% {
        transform: translateX(-100%); /* Кінцеве положення */
    }
}
